# Ignorar entorno virtual
backend/venv/

# Ignorar archivos temporales de Python
backend/__pycache__/
backend/*.pyc

# Ignorar variables de entorno
backend/.env

# Ignorar dependencias de Node
frontend/react-etiquetas/node_modules/

# Build de Vite
frontend/react-etiquetas/dist/

# Archivos del sistema
.DS_Store
Thumbs.db
