services:
  - name: etiquetador-vision-backend
    type: web
    env: python
    rootDir: backend
    buildCommand: "pip install -r requirements.txt"
    startCommand: "uvicorn main:app --host 0.0.0.0 --port 10000"
    plan: free

  - name: etiquetador-vision-frontend
    type: web
    env: static
    rootDir: frontend/react-etiquetas
    buildCommand: "npm install && npm run build"
    staticPublishPath: "dist"
    plan: free
